@if(this.spinner){
<div class="flex align-items-center justify-content-center mt-3">
  @if(this.userService.correo !== undefined) {
  <div class="card">
    <div class="card-header">Chat</div>
    <div class="card-body" id="scroll">
      <ul class="chat-list" id="ul-chats">
        @for (item of this.listMessages; track $index) { @if (item.correo ===
        this.userService.correo) {
        <li class="out" [id]="'li-' + $index">
          <div class="chat-body">
            <div class="chat-message">
              <h5>{{ item.correo }}</h5>
              <p>{{ item.mensaje }}</p>
              <p class="p-fecha">{{ this.convertirFecha(item.fecha) }}</p>
            </div>
          </div>
        </li>
        } @else {
        <li class="in" [id]="'li-' + $index">
          <div class="chat-body">
            <div class="chat-message">
              <h5>{{ item.correo }}</h5>
              <p>{{ item.mensaje }}</p>
              <p class="p-fecha">{{ this.convertirFecha(item.fecha) }}</p>
            </div>
          </div>
        </li>
        } }
      </ul>
    </div>
    <div class="cont-input">
      <input
        type="text"
        class="input-send"
        [(ngModel)]="value"
        (keyup.enter)="enviarMsj()"
        placeholder="Escribe un mensaje..."
      />
      <p-button icon="pi pi-send" severity="info" (click)="enviarMsj()" />
    </div>
  </div>

  }
</div>
} @else {
<div class="centro">
  <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
</div>
}
