.contenedor {
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  background-color: rgba(255, 255, 255, 0.13);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
}
p {
  font-size: larger;
}
.cont-juego {
  width: 100%;
}

.carta {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
* {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.btnfos {
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  color: #31010b;
}

.btnfos-5 {
  outline: 2px solid transparent; /* Asegura espacio para el borde sin afectar el layout */
  outline-offset: 0px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  transition: outline-offset 1250ms cubic-bezier(0.19, 1, 0.22, 1),
    box-shadow 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  padding: 25px;
  border-radius: 25px;
}

.btnfos-5:hover {
  outline-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Define el color del outline al hacer hover */
  outline-offset: 10px; /* Desplaza el outline hacia afuera para dar un efecto sin mover otros elementos */
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 2px #427388;
}

.bg-orange {
  background-color: #e66868;
}

.bg-blue {
  background-color: #73f1f0;
}
