.container {
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  width: 80%;
  padding-top: 30px;
}

h1 {
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
  font-weight: 700;
}

img {
  margin: 0;
  padding: 0;
  height: 200px;
  animation: parpadeo 1.5s infinite alternate; /* Duración de la animación */
}
.cont-opcion {
  width: 80%;
}
.opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.opcion {
  width: 70%;
  margin: 2rem;
}

.cont-img {
  padding: 0;
  margin-bottom: 2rem;
}

@keyframes parpadeo {
  0% {
    box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.6); /* Luz suave */
    border-color: #fff;
  }
  100% {
    box-shadow: 0 0 14px 4px rgba(255, 255, 255, 1); /* Luz más intensa */
    border-color: #f2f2f2;
  }
}

/* BUTTON */
/* From Uiverse.io by Baimyrzaev */
button {
  height: 80px;
  width: 100%;
  padding: 20px 60px;
  background-color: #251065;
  border: none;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  transition: 300ms;
}

button span {
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

button:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: #673aed;
  box-shadow: 0 0 10px #673aed, 0 0 30px #673aed, 0 0 50px #673aed;
}

button div {
  transition: 500ms;
  position: absolute;
  background-color: #673aed;
  box-shadow: 0 0 15px #673aed, 0 0 30px #673aed, 0 0 50px #673aed;
}

button .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

button .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

button .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

button .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}

button:hover {
  color: #251065;
}

button:hover span {
  color: #251065;
}

button:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button:hover .top,
button:hover .bottom {
  width: 100%;
}

button:hover .left,
button:hover .right {
  height: 100%;
}
