<h1 class="text-center texto-animado">PREGUNTADOS</h1>
@if(this.pais !== null) {
<main class="flex align-items-center justify-content-center">
  <section class="container">
    <p class="texto-animado mb-3 ml-3">
      {{ "Puntos: " + this.puntos }}
    </p>
    <article class="flex justify-content-center">
      <div class="flex cont-img">
        <!-- Se carga la bandera de un pais -->
        <img [src]="this.pais.bandera" alt="Paises" />
      </div>
    </article>

    <!-- Las opciones -->
    <article class="opciones">
      <div class="flex justify-content-around cont-opcion">
        <div class="opcion">
          <button (click)="verificar(0)">
            <span>{{ this.opciones[0] }}</span>
            <div class="top"></div>
            <div class="left"></div>
            <div class="bottom"></div>
            <div class="right"></div>
          </button>
        </div>
        <div class="opcion">
          <button (click)="verificar(1)">
            <span>{{ this.opciones[1] }}</span>
            <div class="top"></div>
            <div class="left"></div>
            <div class="bottom"></div>
            <div class="right"></div>
          </button>
        </div>
      </div>
      <div class="flex justify-content-around cont-opcion">
        <div class="opcion">
          <button (click)="verificar(2)">
            <span>{{ this.opciones[2] }}</span>
            <div class="top"></div>
            <div class="left"></div>
            <div class="bottom"></div>
            <div class="right"></div>
          </button>
        </div>
        <div class="opcion">
          <button (click)="verificar(3)">
            <span>{{ this.opciones[3] }}</span>
            <div class="top"></div>
            <div class="left"></div>
            <div class="bottom"></div>
            <div class="right"></div>
          </button>
        </div>
      </div>
    </article>
  </section>
</main>
} @else {
<div class="centro">
  <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
</div>
}
