<div class="container">
  <div class="texto">
    <h2>Mi nombre es <span>Federico Cardozo</span></h2>
    <p>
      Tengo 26 años actualmente estoy cursando mi ultmo cuatrimestre en la utn
      fra.
    </p>
    <p>
      En este proyecto como
      <span>juego propio desarrolle el solitario</span> con cartas españolas.
    </p>
    <p>
      El solitario es un juego de cartas tradicional para un solo jugador. El
      objetivo del juego es mover todas las cartas desde un mazo desordenado
      hacia cuatro pilas finales organizadas, una para cada palo (espada, basto,
      oro y copa), en orden ascendente (del 1 al rey(12))
    </p>
  </div>
  <div>
    <img
      src="https://avatars.githubusercontent.com/u/47437164?v=4"
      alt="yo"
      class="imagen"
    />
  </div>
</div>
