<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form>
  <h3>Bienvenido</h3>

  <label for="email">Usuario</label>
  <input
    [(ngModel)]="email"
    type="text"
    placeholder="Email o Usuario"
    name="email"
    id="email"
  />

  <label for="password">Clave</label>
  <input
    [(ngModel)]="password"
    type="password"
    placeholder="Contraseña"
    name="password"
    id="password"
  />

  <button (click)="validarEmail()">Iniciar Sesión</button>
</form>
