.contenedor {
  width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
}

.cont-fila {
  display: flex;
  flex-direction: column;
}

.falsa-carta {
  height: 150px;
  width: 100px;
}

.carta-border {
  height: 150px;
  width: 100px;
  border-radius: 10px;
  /* border: 1px solid #fff; */
  cursor: pointer;
  animation: parpadeo 1.5s infinite alternate; /* Duración de la animación */
}

@keyframes parpadeo {
  0% {
    box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.6); /* Luz suave */
    border-color: #fff;
  }
  100% {
    box-shadow: 0 0 14px 4px rgba(255, 255, 255, 1); /* Luz más intensa */
    border-color: #f2f2f2; /* Puedes cambiar el color del borde si lo deseas */
  }
}

.carta-0 {
  position: absolute;
}

.carta-1 {
  position: absolute;
  transform: translateY(50px);
}

.carta-2 {
  position: absolute;
  transform: translateY(100px);
}

.carta-3 {
  position: absolute;
  transform: translateY(150px);
}

.carta-4 {
  position: absolute;
  transform: translateY(200px);
}

.carta-5 {
  position: absolute;
  transform: translateY(250px);
}

.carta-6 {
  position: absolute;
  transform: translateY(300px);
}

.carta-7 {
  position: absolute;
  transform: translateY(350px);
}

.carta-8 {
  position: absolute;
  transform: translateY(400px);
}

.carta-9 {
  position: absolute;
  transform: translateY(450px);
}

:host ::ng-deep {
  [pDraggable] {
    cursor: move;
  }
}
