@if(this.spinner) {
<div class="centro">
  <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
</div>
} @else {
<h1 class="text-center texto-animado">SOLITARIO CON CARTAS ESPAÑOLAS</h1>
<div class="flex align-items-center justify-content-center">
  <div class="contenedor">
    <main class="flex justify-content-between">
      <section class="flex">
        <div class="m-3 carta-border">
          @if(this.cartas.length){
          <img src="/cartas/mazo.png" alt="mazo" (click)="barajar()" />
          } @else {
          <div class="falsa-carta" (click)="rebarajar()"></div>
          }
        </div>
        <div class="m-3 carta-border">
          @for (itemCarta of this.newCartas; track $index) {
          <img
            [src]="this.carpeta + itemCarta.path"
            [alt]="itemCarta.valor + ' ' + itemCarta.palo"
            class="carta-0"
            pDraggable
            (onDragStart)="dragStart(itemCarta, this.newCartas)"
            (onDragEnd)="dragEnd()"
          />
          }
        </div>
      </section>
      <section>
        <div class="flex justify-content-evenly">
          <div
            class="m-3 cont-fila carta-border"
            pDroppable
            (onDrop)="dropHeader(1)"
          >
            @for (item of this.cartasHeader1; track $index) {
            <img
              pDroppable
              (onDrop)="dropHeader(1)"
              [src]="this.carpeta + item.path"
              alt="carta"
              [class]="'carta-' + $index"
              pDraggable
              (onDragStart)="dragStartHeader(item, this.cartasHeader1)"
              (onDragEnd)="dragEnd()"
            />
            }
          </div>
          <div
            class="m-3 cont-fila carta-border"
            pDroppable
            (onDrop)="dropHeader(2)"
          >
            @for (item of this.cartasHeader2; track $index) {
            <img
              [src]="this.carpeta + item.path"
              alt="carta"
              [class]="'carta-' + $index"
              pDroppable
              (onDrop)="dropHeader(2)"
              pDraggable
              (onDragStart)="dragStartHeader(item, this.cartasHeader2)"
              (onDragEnd)="dragEnd()"
            />
            }
          </div>
          <div
            class="m-3 cont-fila carta-border"
            pDroppable
            (onDrop)="dropHeader(3)"
          >
            @for (item of this.cartasHeader3; track $index) {
            <img
              [src]="this.carpeta + item.path"
              alt="carta"
              [class]="'carta-' + $index"
              pDroppable
              (onDrop)="dropHeader(3)"
              pDraggable
              (onDragStart)="dragStartHeader(item, this.cartasHeader3)"
              (onDragEnd)="dragEnd()"
            />
            }
          </div>
          <div
            class="m-3 cont-fila carta-border"
            pDroppable
            (onDrop)="dropHeader(4)"
          >
            @for (item of this.cartasHeader4; track $index) {
            <img
              [src]="this.carpeta + item.path"
              alt="carta"
              [class]="'carta-' + $index"
              pDroppable
              (onDrop)="dropHeader(4)"
              pDraggable
              (onDragStart)="dragStartHeader(item, this.cartasHeader4)"
              (onDragEnd)="dragEnd()"
            />
            }
          </div>
        </div>
      </section>
      <!-- LATERAL -->
      <section>
        <div class="m-3 carta-border" pDroppable (onDrop)="dropLateral(1)">
          @for (item of this.cartasLateral1; track $index) {
          <img
            [src]="this.carpeta + item.path"
            alt="carta"
            class="carta-0"
            pDroppable
            (onDrop)="dropLateral(1)"
            pDraggable
            (onDragStart)="dragStart(item, this.cartasLateral1)"
            (onDragEnd)="dragEnd()"
          />
          }
        </div>
        <div class="m-3 carta-border" pDroppable (onDrop)="dropLateral(2)">
          @for (item of this.cartasLateral2; track $index) {
          <img
            [src]="this.carpeta + item.path"
            alt="carta"
            class="carta-0"
            pDroppable
            (onDrop)="dropLateral(2)"
            pDraggable
            (onDragStart)="dragStart(item, this.cartasLateral2)"
            (onDragEnd)="dragEnd()"
          />
          }
        </div>
        <div class="m-3 carta-border" pDroppable (onDrop)="dropLateral(3)">
          @for (item of this.cartasLateral3; track $index) {
          <img
            [src]="this.carpeta + item.path"
            alt="carta"
            class="carta-0"
            pDroppable
            (onDrop)="dropLateral(3)"
            pDraggable
            (onDragStart)="dragStart(item, this.cartasLateral3)"
            (onDragEnd)="dragEnd()"
          />
          }
        </div>
        <div class="m-3 carta-border" pDroppable (onDrop)="dropLateral(4)">
          @for (item of this.cartasLateral4; track $index) {
          <img
            [src]="this.carpeta + item.path"
            alt="carta"
            class="carta-0"
            pDroppable
            (onDrop)="dropLateral(4)"
            pDraggable
            (onDragStart)="dragStart(item, this.cartasLateral4)"
            (onDragEnd)="dragEnd()"
          />
          }
        </div>
      </section>
    </main>
  </div>
</div>

}
