<nav class="navbar">
  <ul>
    <li>
      <img
        src="/img/icono.png"
        alt="logo"
        class="img-logo"
        routerLink="/home"
      />
    </li>
    <li>
      <p-button
        label="Inicio"
        [text]="true"
        severity="secondary"
        routerLink="home"
      />
    </li>
    <li>
      <p-button
        label="Quien soy"
        [text]="true"
        severity="secondary"
        routerLink="about"
      />
    </li>
  </ul>
  <ul>
    <li>
      <p-button
        label="Crear cuenta"
        [outlined]="true"
        [rounded]="true"
        routerLink="registro"
      />
    </li>
    <li>
      <p-button label="Iniciar sesión" [rounded]="true" routerLink="login" />
    </li>
  </ul>
</nav>
<router-outlet />
