<nav class="navbar">
  <ul>
    <li>
      <img
        src="/img/icono.png"
        alt="logo"
        class="img-logo"
        routerLink="/home"
      />
    </li>
    <li>
      <p-button
        label="Inicio"
        [text]="true"
        severity="secondary"
        routerLink="home"
      />
    </li>
    <li>
      <p-button
        label="Quien soy"
        [text]="true"
        severity="secondary"
        routerLink="about"
      />
    </li>
  </ul>
  <ul>
    <li>
      <p-button
        label="Crear cuenta"
        [outlined]="true"
        [rounded]="true"
        [hidden]="ocultarbtnRegistro"
        routerLink="registro"
      />
    </li>
    <li>
      <p-button
        label="Iniciar sesión"
        [rounded]="true"
        [hidden]="ocultarbtnLogin"
        routerLink="login"
      />
    </li>
    <li>
      <p-button
        icon="pi pi-user"
        [label]="userEmail"
        [hidden]="ocultarbtnUser"
        [rounded]="true"
      />
    </li>
    <li>
      <p-button
        label="Cerrar sesión"
        [rounded]="true"
        [hidden]="ocultarbtnLogout"
        severity="danger"
        icon="pi pi-times"
        (click)="cerraSesion()"
      />
    </li>
  </ul>
</nav>

<!-- 02:30:00 -->
<router-outlet />
