ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}
.img-logo {
  height: 80px;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
