<div class="contenedor">
  <div class="contenedor-texto">
    <h1>
      Explora nuestros increíbles juegos y demuestra de lo que eres capaz.
      Desafía a tus amigos, alcanza nuevos récords y disfruta de cada momento.
    </h1>
    <p>Jugá con nuestros diferentes juegos</p>
  </div>
  <div class="contenedor-btn-juegos">
    <p-button label="Ahorcado" [rounded]="true" routerLink="/juegos" />
    <p-button
      label="Mayor o menor"
      [rounded]="true"
      routerLink="/juegos/cartas"
    />
    <p-button
      label="Preguntados"
      [rounded]="true"
      routerLink="/juegos/preguntados"
    />
    <p-button
      label="Juego propio"
      [rounded]="true"
      routerLink="/juegos/propio"
    />
  </div>
</div>
